<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Carta de Renuncia</title>
  </head>
  <body>

    <p>&nbsp;</p>
    <p></p>
    <p>{{Ciudad}},{{fecha_actual}}</p>
    <p><strong>{{nombre_jefe}}</strong></p>
    <p><strong>{{cargo_jefe}}</strong></p>
    <p><strong>{{empresa}}</strong></p>
    <p>&nbsp;</p>
    <p><strong><em>Asunto: Carta renuncia</em></strong></p>
    <p>&nbsp;</p>
    <p>Estimada {{nombre_jefe}}.</p>
    <p>&nbsp;</p>
    <p>Por medio de la presente, me dirijo a usted para presentar formalmente mi renuncia al cargo de {{cargo_persona}}. La fecha efectiva de mi renuncia ser&aacute; el {{fecha_renuncia}},con el fin de asegurar una transici&oacute;n fluida y completa de mis responsabilidades.</p>
    <p>Despues de una cuidadosa reflexi&oacute;n, he decidi&oacute; que es el momento adecuado para seguir adelante en mi carrera y explorar otras oportunidades profesionales. Quiero agradecerles por la oportunidad de trabajar en esta empresa y por todo lo que he aprendido durante mi tiempo aqu&iacute;.</p>
    <p>Me gustar&iacute;a asegurarle que trabajar&eacute; diligentemente durante mi periodo de aviso y estar&eacute; disponible para ayudar en la transici&oacute;n de mis responsabilidades de marea adecuada y oportuna.</p>
    <p>Agradezco su compresion.</p>
    <p>{{nombre_empleado}}</p>
    <p>{{id_empleado}}</p>
    <p>&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="n3VNCb pT0Scc KAlRDb" style="width: 135px; height: 72px; margin: 0px;" role="" src="/home/manuel/Visualstudio/Document_API/{{image_firma_path}}" alt="Archivo:Firma Len&iacute;n Moreno Garc&eacute;s.png - Wikipedia, la ..." aria-label="" data-noaft="1" /></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ______________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; FIRMA</p>
  </body>

</html>
