<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Carta de Renuncia</title>
  </head>
  <body>
    <p>{{Ciudad}},{{fecha_actual}}</p>
    <p><strong>{{nombre_jefe}}</strong></p>
    <p><strong>{{cargo_jefe}}</strong></p>
    <p><strong>{{empresa}}</strong></p>
    <p>&nbsp;</p>
    <p><strong><em>Asunto: Carta renuncia</em></strong></p>
    <p>&nbsp;</p>
    <p>Estimada {{nombre_jefe}}.</p>
    <p>&nbsp;</p>
    <p>Por medio de la presen, me dirijo a uited para presntar formalmente mi renuncia al cargo de {{cargo_persona}}. La fecha efectiva de mi renuincia sera el {{fecha_renuncia}},con el fin de asegurar una transiion fluida y completa de mis responsabilidades.</p>
    <p>Despues de una cuidadosa reflexion, he decidio que es el momneto adecuado para seguir adelante en mi carrera y explorar otras oportunidades profesionales. Quiero agradecerles por la oportunidad de trabajar en esta empresa y por todo lo que he aprendido durante mi tiempo aqui.</p>
    <p>Me gustaria asegurarle que trabajre diligentemente duirante mi periodo de aviso y estare disponible para ayudar en la transicion de mis responsabilidades de marea adeacuada y oportuna.</p>
    <p>Agradezco su compresion.</p>
    <p>{{nombre_empleado}}</p>
    <p>{{id_empleado}}</p>
    <p>&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img class="n3VNCb pT0Scc KAlRDb" style="width: 135px; height: 72px; margin: 0px;" role="" src="/home/manuel/Visualstudio/Document_API/{{image_firma_path}}" alt="Archivo:Firma Len&iacute;n Moreno Garc&eacute;s.png - Wikipedia, la ..." aria-label="" data-noaft="1" /></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ______________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; FIRMA</p>
</body>
</html>
